ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:focus {
outline: 0;
text-decoration: none;
} 

.center {
    text-align: center;
}

.bg-gr {
    background: #0B6031;
    border: 1px solid #0B6031;
}

.br-gr {
    border: 1px solid #0B6031;
}

.bg-gra {
    background: #fff;
}

.br-e {
    background: #f5f5f5;
}


.txt-lft {
    text-align: left;
}

.p70 {
    padding : 70px 0;
}

.p35 {
    padding : 35px 0;
}

/*.martop-minus {
    margin-top: -80px;
}
*/
.img-wid img {
    width: 100%;
}

.bx-sdw1 {
    -webkit-box-shadow: 0px 5px 6px 0px rgba(230,221,230,1);
    -moz-box-shadow: 0px 5px 6px 0px rgba(230,221,230,1);
    box-shadow: 0px 5px 6px 0px rgba(230,221,230,1);
    border-radius: 50%;
}

.bx-sdw2 {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(230,221,230,1);
    -moz-box-shadow: 2px 2px 4px 0px rgba(230,221,230,1);
    box-shadow: 2px 2px 4px 0px rgba(230,221,230,1);
}


.bx-sdw3 {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(230,221,230,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(230,221,230,1);
    box-shadow: 0px 0px 0px 3px rgba(230,221,230,1);
}
.bx-sdw{
    -webkit-box-shadow: 7px 7px 6px -2px rgb(162, 156, 156);
    -moz-box-shadow: 7px 7px 6px -2px rgb(162, 156, 156);
    box-shadow: 7px 7px 6px -2px rgb(162, 156, 156);
}

.bx-sdw4{
    -webkit-box-shadow: 0 0 30px 0 #d0d0d0;
    -moz-box-shadow: 0 0 30px 0 #d0d0d0;
    box-shadow: 0 0 30px 0 #d0d0d0;
}


.b-offer .owl-stage,
.a-offer .owl-stage,
.client-rev .owl-stage {
    margin: 25px 0px;
    overflow: visible;
}


.b-offer .owl-item.active,
.a-offer .owl-item.active,      
.client-rev .owl-item.active {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(230,221,230,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(230,221,230,1);
    box-shadow: 0px 2px 5px 0px rgba(230,221,230,1);
}



.img-hov {
	overflow: hidden;
}

.img-hov img {
	
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
	overflow: hidden;
}

.img-hov img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    overflow: hidden;
}



.bef-head  {
    margin-top: 0;
    font-weight: 600;
    position: relative;
    padding-left: 15px;
} 


.bef-head:before {
    position: absolute;
    top: 0px;
    left: 0;
    content: '';
    background: #0B6031;
    height: 20px;
    width: 5px;
}







.fade {
   opacity: 0;
   -webkit-transition: opacity 1.5s linear;
      -moz-transition: opacity 1.5s linear;
       -ms-transition: opacity 1.5s linear;
        -o-transition: opacity 1.5s linear;
           transition: opacity 1.5s linear;
 }









.b-offer .owl-nav button.owl-prev,
 .a-offer .owl-nav button.owl-prev,
  .spec-tabcon .owl-nav button.owl-prev {
    position: absolute;
    color: #fff;
 	top: 50%;
 	transform: translate(0,-50%);
 	left: -27px;
}


.b-offer .owl-nav button.owl-next,
.a-offer .owl-nav button.owl-next,
.spec-tabcon .owl-nav button.owl-next {
    position: absolute;
    color: #fff;
 	top: 50%;
 	transform: translate(0,-50%);
 	right: -27px;
}

.b-offer .owl-nav span ,
.a-offer .owl-nav span ,
.p-offer .owl-nav span,
.frm-galle .owl-nav span,
.spec-tabcon .owl-nav span {
    background: #0B6031;
    margin: 0 6px;
    padding: 3px 10px;
    font-size: 27px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.frm-galle .owl-nav button.owl-prev {
    position: absolute;
    color: #fff;
 	top: 50%;
 	left: 0px;
}



.frm-galle .owl-nav button.owl-next {
    position: absolute;
    color: #fff;
 	top: 50%;
 	right: 0px;
}


