@media screen and (max-width: 1024px) {
   .dis-inne {
	    display: inherit;
	    margin: 30px 0;
	    text-align: center;
	}
}




@media screen and (max-width: 768px) {

	 .ba-text {
	 	bottom: 10px;
	 }

	 .ba-text h4 {
	 	font-size: 18px;
	 	padding: 10px;
	 }

	.ba-text p {
		font-size: 11px;
		padding: 10px;
	}

	.abt-text {
	    padding: 40px 0 0 0;
	}

	.client-rev .owl-nav {
		left: -10px;
	}

	.best-off :after {
		bottom: -21px;
	}

	.slider.slider-nav {
	    margin-top: 0;
	}

	.abt-text:before {
		display: none;
	}

	.nav-sing a {
	    padding: 6px 8px;
	    font-size: 11px;
	    
	}

	button.bt-hv {
	    height: 26px;
	}

	button.bt-hv .bt-h-show {
		font-size: 11px;
	}

	.co-details {
	    padding: 12% 6% 10% 11%;
	}

	.co-cmap iframe {
		width: 100%;
		clear: both;
	}


}


@media screen and (max-width: 725px) { 

	.logo img {
	    width: 220px;
	}

	section.search .nice-select {
	    margin-top: 25px;
	}

	.serch-btn {
		    margin-top: 25px;
		}

}



@media screen and (max-width: 480px) {


	header {
		display: none;
	}



	section.search .nice-select , .serch-btn{
	    margin: 10px 0;
	}

	.spet-car .item a {
		font-size: 12px;
	}
	.spet-car .item a .fas {
		margin-right: 3px;
	}

	.bft-det h3 {
		font-size: 12px;
	}

	.ba-text {
	    bottom: 170px;
	}

	span.bft-dat {
	    font-size: 11px;
	    margin-top: 5px;
	}

	.a1-info {
	    padding: 25px;
	}

	s.p70 {
	    padding: 40px 0;
	}

	.ba-text p {
		display: none;
	}

	.ba-text{
		position: absolute;
	}

	.ba-text h4 {
		display: block;
		max-width: 100%;
	}

	.banner-slide .owl-nav {
		bottom: 100px;
	}

	h4.bg-gr {
		background: rgba(11, 96, 49, 0.5);
	    margin-bottom: 5px;
	    border: none;
	}

	.ba-text a {
	    font-size: 15px;
	    padding: 8px 15px;
	}

	.banner-slide .owl-nav span {
	    margin: 0 2px;
	    padding: 3px 10px;
	    font-size: 28px;
	    height: 40px;
	    width: 40px;
	}

	.fs-sing {
    	padding: 0 20px;
	}

	.b-offer .owl-nav span, .a-offer .owl-nav span, .p-offer .owl-nav span, .frm-galle .owl-nav span, .spec-tabcon .owl-nav span {
	    background: #0B6031;
	    margin: 0 6px;
	    padding: 3px 10px;
	    font-size: 17px;
	    height: 30px;
	    width: 30px;

	}

	.b-offer .owl-nav button.owl-prev,
	 .a-offer .owl-nav button.owl-prev,
	  .spec-tabcon .owl-nav button.owl-prev {
	    position: absolute;
	    color: #fff;
	 	top: 50%;
	 	transform: translate(0,-50%);
	 	left: -17px;
	}


	.b-offer .owl-nav button.owl-next,
	.a-offer .owl-nav button.owl-next,
	.spec-tabcon .owl-nav button.owl-next {
	    position: absolute;
	    color: #fff;
	 	top: 50%;
	 	transform: translate(0,-50%);
	 	right: -17px;
	}

	.bx-sdw1 {
		box-shadow: none;
	}

	.p70 {
	    padding: 30px 0;
	}

	.best-off {
		font-size: 12px;
	}

	.slider.slider-nav {
	    margin-top: 0px;
	}

	iframe#player {
	    padding-top: 0px;
	}

	.ba-img img {
		height: 350px;
	}

	span.wpag {
		font-size: 38px;
	}

	.allbanner-img {
		height: 240px;
	}

	div#sidebar {
	    margin-top: 50px;
	}

	.con-sin {
	    display: inline-flex;
	    width: 100%;
	    margin: 15px 0;
	}

	.lg-name h4 {
	    margin-top: 20px;
	}

	.logo {
		position: relative;
		top: 0;
	}

	.head-nav {
	    margin-top: 10px;
	    text-align: center;
	}

	section#mb-header {
		display: block;
	}

	section#mb-header {
	    position: fixed;
	    z-index: 999;
	    background: #fff;
	    width: 100%;
	}

	i.fas.fa-times.clk-open {
	    color: #fff;
	    font-size: 18px;
	    padding: 10px;
	}

	.mb-allnavs a {
	    display: block;
	    margin: 10px;
	    color: #fff;
	    text-align: left;
	    font-size: 15px;
	}

	.mb-allnavs a i {
	    margin-right: 6px;
	}

	
	.mb-allnavs a i.fas.fa-phone {
	    transform: rotate(90deg);
	}


	.mb-logo img {
	    width: 100%;
	}

	.mb-mnu {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    background: #0b6031;
	}

	.mb-mnu {
		display: none;
	}

	.mb-nav-show {
		display: block;
		text-align: right;
	}

	.menu-clk {
	    text-align: right;
	}

	.menu-clk i {
	    margin-top: 20px;
	    margin-right: 20px;
	    font-size: 20px;
	}

	.mbh-wrap {
		    position: relative;
		}


	button.bt-hv {
	    margin-top: 20px;
	}

	button.bt-hv:before {
 		top: 5px;
 	}



}


@media screen and (max-width: 380px) {

	.a1-info {
	    padding: 5px;
	}

	.a1-info p {
		font-size: 11px;
	}
	span.price {
		font-size: 14px;
	}

	span.dayn {
		font-size: 10px;
	}

	.spet-car .item a .fas {
		display: none;
	}

	.spet-car .item a {
		font-size: 11px
	}

	.fs-sing {
    	padding: 0 10px;
	}

	img.cl-pro{
		top: 85px;
	}


}
 