{% extends 'trek/base.html' %}
{% load static %}
{% block content %}

<section class="banner">
    {% if banner %}
    <div class="allbanner-img" style="background: url({{ banner.image.url }}); ">
        <div class="al-bn-txt">
            <span class="wpag">Book Step (1/3)</span>
        </div>
    </div>
    {% else %}
    <div class="allbanner-img" style="background: url({% static 'images/allban.jpg' %}); ">
        <div class="al-bn-txt">
            <span class="wpag">Book Step (1/3)</span>
        </div>
    </div>
    {% endif %}
</section>

<section class="book-steps p35">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5 class="h-act"><span class="sin-stactive">1</span>Select The Trip</h5>

                    <ul class="ste-li brf-fo">
                        <li>Select the Trip</li>
                        <li>Select Trip Date</li>
                        <li>Select Number of Traveller</li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span>2</span>Submit Travel Information</h5>

                    <ul class="ste-li brf-fo">
                        <li>Submit traveller Information</li>
                        
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span>3</span>Payment Methods</h5>

                    <ul class="ste-li brf-fo">
                        <li>Download pdf / doc version of payment processing form</li>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="b-frm p35">
    <div class="container">
        <h4 class="bef-head">Processing Book Nows</h4>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="sing-bf cu-frs">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <h5>Nationality</h5>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-8">
                    {{ form.nationality }}
                </div>
                {% if form.nationality.errors %}
                {{ form.nationality.errors }}
                {% endif %}
            </div>

            <div class="sing-bf cu-frs">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <h5>Trip Name</h5>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-8">
                    {{ form.trip_name }}
                </div>
                {% if form.trip_name.errors %}
                {{ form.trip_name.errors }}
                {% endif %}
            </div>

            <div class="sing-bf cu-frs">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <h5>Trip Start Date</h5>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" id="datepicker" style="position: relative; z-index: 100000;" name="start_date" required>
                </div>
                {% if form.start_date.errors %}
                {{ form.start_date.errors }}
                {% endif %}
            </div>

            <div class="clearfix"></div>

           <button class="rm-btn bg-gr" type="submit">Next Process</button>
        </form>

    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#datepicker").datepicker();
    });
    $("#ui-datepicker-div").load(function(){
        $("#ui-datepicker-div").attr('style', 'z-index: 1000 !important');
    })
    

</script>
{% endblock %}
