{% extends 'trek/base.html' %}
{% load static %}
{% block content %}

<section class="banner">
    <div class="allbanner-img" style="background: url({% static 'images/allban.jpg' %}); ">
        <div class="al-bn-txt">
            <span class="wpag">Book Step (3/3)</span>
        </div>
    </div>
</section>

<section class="book-steps p35">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span class="sin-stactive">1</span>Select The Trip</h5>

                    <ul class="ste-li brf-fo">
                        <li>Select the Trip</li>
                        <li>Select Trip Date</li>
                        <li>Select Number of Traveller</li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span>2</span>Submit Travel Information</h5>

                    <ul class="ste-li brf-fo">
                        <li>Submit traveller Information</li>
                        
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5 class="h-act"><span>3</span>Payment Methods</h5>

                    <ul class="ste-li brf-fo">
                        <li>Download pdf / doc version of payment processing form</li>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="book-ta p35">
    <div class="container">
        <p class="cl-gr">Thank you, your booking has been forwarded to our Travel Consultant.</p>
        {{ payment.content|safe }}
        <a href="" class="rm-btn bg-gr">Download PDF </a>

    </div>
</section>

{% endblock %}