{% extends 'trek/base.html' %}
{% load static %}
{% block content %}

<section class="banner">
    <div class="allbanner-img">
        <div class="al-bn-txt">
            <span class="wpag">Book Step (3/3)</span>
        </div>
    </div>
</section>

<section class="book-steps p35">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span class="sin-stactive">1</span>Select The Trip</h5>

                    <ul class="ste-li brf-fo">
                        <li>Select the Trip</li>
                        <li>Select Trip Date</li>
                        <li>Select Number of Traveller</li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5><span>2</span>Submit Travel Information</h5>

                    <ul class="ste-li brf-fo">
                        <li>Submit traveller Information</li>
                        
                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="sin-st">
                    <h5 class="h-act"><span>3</span>Payment Methods</h5>

                    <ul class="ste-li brf-fo">
                        <li>Download pdf / doc version of payment processing form</li>

                </div>
            </div>


        </div>
    </div>
</section>

<section class="book-ta p35">
    <div class="container">
        <p class="cl-gr">Thank you, your booking has been forwarded to our Travel Consultant. Please proceed for booking deposit payment. We will confirm your payments as soon as we receive.</p>

        <h4 class="bef-head">Booking Deposit Payment</h4>

        <ol>
            <li>
                <span>Nepal Trips</span>
                <p>For Nepal Trips, you will have to make a non-refundable deposit of 25% of trip cost at the time of booking the trip. You can pay the remaining amount upon your arrival in Kathmandu and before the trip departure.</p>
                <p>The non-refundable deposit should be sent to the Company or its Agent. The Company’s Tailor Made trips may require a higher deposit or full payment at the time of booking. If deposit is different from that outlined in this clause, you will be advised by the company at the time of booking.</p>
            </li>

            <li>
                <span> India/Tibet/ Bhutan Trips:</span>
                <p>At time of booking a non-refundable deposit of 25% is due along with due airfares (if client wants the Company’sy to arrange it) before 21 days of trip departure. If you're booking 21 days or less prior to departure,full payment is due.</p>
            </li>

        </ol>

        <div class="bo-banks">
            <h4 class="bef-head">Payment methods</h4>
            <h5>Booking deposit can be made by bank transfer or by Credit Card (Visa or MasterCard). Please follow the information provided on the booking form.</h5>

            <ol>
                <li>
                    <span> Payment by Credit Card (MasterCard or Visa Only)</span>
                    <p>visa and master cardPlease complete the necessary details in the form including your credit card details, signature (same as in your passport & Credit Card). Click here to download the form (*.PDF version). Fax (at 977 1 4412 383) or e-mail the filled form to Himalayan Glacier Trekking. Your credit card will be charged by Himalayan Bank (Credit Card Division) on behalf of Himalayan Glacier Trekking P. Ltd.</p>

                    <p>Please never make the mistake of sending the form details directly to Himalayan Bank. Please also send copy of your passport or any ID copy along with the filled form. Note: There is 4% surcharge when you make the payment with a credit card.</p>
                    
                </li>

                <li>
                    <span>Payment via Wire/Bank Transfer</span>
                    <p>Our Bank Details for wire Transfer: </p>
                    <h6>Name of the Beneficiary: Himalayan Glacier Trekking (P). Ltd</h6>
                    <h6>Address of the Beneficiary: Paryatan Marga, Thamel, Kathmandu, Nepal</h6>
                    <h6>Bankers Name: Himalayan Bank Ltd.</h6>
                    <h6>Bankers Address: Tridevi Marga, Thamel, Kathmandu, Nepal</h6>
                    <h6>Account No.: 01900135970012</h6>
                </li>

            </ol>
        </div>

        <a href="" class="rm-btn bg-gr">Download PDF </a>

    </div>
</section>

{% endblock %}