{% extends 'trek/base.html' %}
{% load static %}
{% block content %}
<section class="getint p35" style="background: url({% static 'images/contactback.jpg' %});">
    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="co-details">
            <h4 class="hgt">Get In Touch</h4>
            <div class="co-soc">
                <a href="{{ about.facebook_link }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{{ about.youtube_link }}" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="{{ about.instagram_link }}" target="_blank"><i class="fab fa-instagram"></i></a>

                <p id="about">{{ about.about_description|safe }}</p>
            </div>

            <div class="co-ctdet">
                <div class="cdet-sing clearfix">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>
                        Our Location
                        <span>{{ about.adddress }}</span>
                    </h4>
                </div>

                <div class="cdet-sing clearfix">
                    <i class="fas fa-phone"></i>
                    <h4>Phone Number
                        <span>{{ about.contact_number }}</span>
                    </h4>
                </div>

                <div class="cdet-sing clearfix">
                    <i class="fab fa-whatsapp"></i>
                    <h4>Whatsapp Number
                        <span>{{ about.whatsapp_number }}</span>
                    </h4>
                </div>

                <div class="cdet-sing clearfix">
                    <i class="fas fa-envelope"></i>
                    <h4>Write us an Email
                        <span>{{ about.email }}</span>
                    </h4>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="co-cmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.038279775947!2d85.34028171453781!3d27.68521173307241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1992fb6525df%3A0x9c15a7d7044d040a!2sKulchan%20Pvt.%20Ltd!5e0!3m2!1sen!2snp!4v1573912003769!5m2!1sen!2snp" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="suscribe p70 center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="all-heading">
                    <span>For Update<img src="{% static 'images/png.png' %}"></span>
                    <label>Suscribe</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sus-form">
                    <form method="post" action="{% url 'trek:subscribe' %}">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <input type="text" placeholder="FIRST NAME" name="first_name" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" placeholder="LAST NAME" name="last_name" required>
                        </div>

                        <div class="col-md-12">
                            <input type="Email" placeholder="EMAIL ADDRESS" name="email" required>
                        </div>

                        <button class="rm-btn bg-gr sus-btn" type="submit">SUSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
<script>
	
	$(document).ready(function(){
		console.log('adsas');
		$(document).find('p').css('text-align', 'justify');
		
	});
	
</script>
{% endblock %}
