{% extends 'trek/base.html' %}
{% load static %}
{% block content %}

<!--can make create and customize as same html page -->

<section class="banner">
    <div class="allbanner-img">
        <div class="al-bn-txt">
            <span class="wpag">Customize</span>
        </div>
    </div>
</section>

<section class="cust-form p35">
    <div class="container">
        <p>Preferences, penchant, and dreams, in every sphere differ in their spirit from one person to another. Have you ever thought of your traveling prerequisite being shaped according to your time, interests and budget? Yes, you can prepare and buy your own unique tailor-made tours which are ensured to make your vacations worth remembering throughout your life through Himalayan Glacier. Himalayan Glacier operates tailor-made journeys and before that you are given  focused on your interests; whether you wish to spend those special moments with your partner at one of the fabulous resorts, lush forests among the biodiversities, or use those moments to feel the snows draping mountains.</p>

        <p>Just tell us about your preferences, interests and the amount of time available to you and we will take care of the rest. We will help design a tour and work out a comfortable itinerary that best suits your needs.</p>

        <div class="cust-form bx-sdw2">
            <h4 class="bef-head">Trip Information</h4>

            <div class="col-md-4 col-sm-6">
                <h6>Trip Name*</h6>
                <div class="cu-frs bx-sdw2">
                    <input type="text" name="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Trip Duiration</h6>
                <div class="cu-frs bx-sdw2">
                    <input type="number" name="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Price Range</h6>
                <div class="cu-frs bx-sdw2">    
                    <input type="number" name="">
                </div>
            </div>

            <div class="clearfix"></div>

            <h4 class="bef-head">Personnal Information</h4>

            <div class="col-md-4 col-sm-6">
                <h6>Full Name*</h6>
                <div class="cu-frs bx-sdw2">    
                    <input type="text" name="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Email*</h6>
                <div class="cu-frs bx-sdw2">    
                    <input type="number" name="">
                </div>    
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Country*</h6>
                <div class="cu-frs bx-sdw2">    
                    <select>
                      <option data-display="">Nepal</option>
                      <option value="1">Bhutan</option>
                      <option value="2">China</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <h6>Contact Number*</h6>
                <div class="cu-frs bx-sdw2">    
                    <input type="number" name="">
                </div>
            </div>

            <div class="col-md-8 col-sm-6">
                <h6>Your Message</h6>
                <div class="cu-frs bx-sdw2">    
                    <textarea></textarea>
                </div>
            </div>
            <div class="clearfix"></div>

            <a href="" class="rm-btn bg-gr">Submit</a>

        </div>


    </div>
</section>

{% endblock %}