{% extends 'trek/base.html' %}
{% load static %}
{% block content %}

<section class="banner">
    {% if banner %}
    <div class="allbanner-img" style="background: url({{ banner.image.url }}); ">
        <div class="al-bn-txt">
            <span class="wpag">{{ generic.get_section_display|title }}</span>
        </div>
    </div>
    {% else %}
    <div class="allbanner-img" style="background: url({% static 'images/allban.jpg' %}); ">
        <div class="al-bn-txt">
            <span class="wpag">{{ generic.ge_section_display|title }}</span>
        </div>
    </div>
    {% endif %}
</section>




<section class="blg-det p70">
    <div class="container">

        <div class="all-heading txt-lft">
            <span>Know More<img src="{% static 'images/png.png' %}"></span>
            <label>{{ generic.title }}</label>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="blg-det">
                    <div class="blg-img">
                        {% if generic.image %}
                            <img src="{{ generic.image.url }}">
                        {% endif %}

                        <div class="blg-detp">
                            {{ generic.content|safe }}
                        </div>
                    </div>
                </div>
            </div>

        </div>        
    </div>
</section>

{% endblock %}