{% extends 'trek/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<section class="banner">
    {% if banner %}
    <div class="allbanner-img" style="background: url({{ banner.image.url }}); ">
        <div class="al-bn-txt">
            <span class="wpag">Package Listing</span>
        </div>
    </div>
    {% else %}
    <div class="allbanner-img" style="background: url({% static 'images/allban.jpg' %}); ">
        <div class="al-bn-txt">
            <span class="wpag">Package Listing</span>
        </div>
    </div>
    {% endif %}
</section>


<section class="search">
    <div class="container">
        <div class="row">
            <form method="post" action="{% url 'trek:search' %}">
                {% csrf_token %}
                <div class="col-md-3 col-sm-3 col-xs-6" style="z-index:1000;">
                    <div class="bx-sdw1">
                        <select name="country">
                            <option data-display="Country" value="">Country</option>
                            {% for item in country %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6" style="z-index:1000;">
                    <div class="bx-sdw1">
                        <select name="activity" id="activity">
                            <option data-display="Activities" value="">Activity</option>
                            {% for item in activities %}
                                <option value="act_{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6" style="z-index:1000;">
                    <div class="bx-sdw1">
                        <select name="destination" id="destination">
                            <option data-display="Destination" value="">Destination</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="bx-sdw1">
                        <button class="serch-btn">
                            <a><i class="fas fa-long-arrow-alt-right"></i>   Search</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="offers p70 center">
    <div class="container">
        <div class="all-heading">
            <span>Pack and go <img src="{% static 'images/png.png' %}"></span>
            <label>BEST OFFER</label>
        </div>

        <div class="car-body">
            <div class="li-offer">
                {% for item in packages %}
                <div class="col-md-4 col-sm-6">
                    <div class="li-ofsin">
                        <a href="{% url 'trek:detail' item.pk %}">
                            <div class="bo-img">
                                <div class="bo-overlay"></div>
                                <img style="height: 234px;" src="{{ item.images.first.image.url }}">
                                <div class="best-off">
                                    <span>$ {{ item.price }}</span>
                                </div>
                                
                            </div>

                            <div class="all-bft-det">
                                <h3>{{ item.name|truncatechars:20 }}</h3>
                                <span class="bft-dat">({{ item.duration }} days)</span>
                                <div class="rating-stars">
                                    {% if item.rating %}
                                        {% with item.rating|range_rating as rates %}
                                            {% for count in rates %}
                                                <i class="fas fa-star"></i>
                                            {% endfor %}
                                        {% endwith %}
                                        {% with item.rating|rating_decimal as rate %}
                                            {% if rating != 0 %}
                                                <i class="fas fa-star-half-alt"></i>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    {% endif %}
                                </div>
                                <p>{{ item.introduction|truncatechars:200|safe }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

                <div class="clearfix"></div>

                
                <!--<div class="rev-pag center">-->
                    <!--<ul class="pagination">-->
                      <!--<li class="active"><a href="#">1</a></li>-->
                      <!--<li><a href="#">2</a></li>-->
                      <!--<li><a href="#">3</a></li>-->
                      <!--<li><a href="#">4</a></li>-->
                      <!--<li><a href="#">5</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                
            </div>

        </div>
    </div>
</section>

<section class="clients p70 center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="all-heading cl-head">
                    <span>Relax & Enjoy<img src="{% static 'images/png.png' %}"></span>
                    <label>Happy Clients</label>
                </div>
            </div>

            <div class="col-md-9">
                <div class="client-rev owl-carousel">
                    {% for item in happy_clients %}
                    <div class="item">
                        <div class="rev-wrap bx-sdw2">
                            <div class="cl-img-cvr">
                                <img width="412px" height="142px" src="{{ item.cover_picture.url }}">
                            </div>
                            <img class="cl-pro" src="{{ item.profile_picture.url }}">
                            <div class="cl-info">
                                <h6>{{ item.name }}</h6>
                                <span>{{ item.address }}</span>
                                <p>{{ item.happy_review }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="suscribe p70 center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="all-heading">
                    <span>For Update<img src="{% static 'images/png.png' %}"></span>
                    <label>Suscribe</label>
                </div>
            </div>

            <div class="col-md-9">
                <div class="sus-form">
                    <form method="post" action="{% url 'trek:subscribe' %}">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <input type="text" placeholder="FIRST NAME" name="first_name" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" placeholder="LAST NAME" name="last_name" required>
                        </div>

                        <div class="col-md-12">
                            <input type="Email" placeholder="EMAIL ADDRESS" name="email" required>
                        </div>

                        <button class="rm-btn bg-gr sus-btn" type="submit">SUSCRIBE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $(".option").click(function(){
                var selected = $(this).attr('data-value');
                if( selected.indexOf('act') !=-1){
                    $.ajax({
                        url: "{% url 'trek:get-destination' %}",
                        data: {
                            'activity': selected,
                        },
                        dataType: 'json',
                        success: function(result){
                            var destination = $('#destination');
                            result = jQuery.parseJSON(result); 
                            var nice_select = destination.next();
                            var ul = nice_select.find("ul");
                            ul.empty();
                            $.each(result, function(id, obj){
                                destination.append($("<option />").val(obj.id).text(obj.name));
                                ul.append($("<li />").val(obj.id).text(obj.name).addClass("option"));
                            });
                        }
                    });
                }
            }); 
        });
    </script>
{% endblock %}