{% extends 'trek/base.html' %}
{% load static %}
{% block content %}


<section class="banner">
    {% if banner %}
    <div class="allbanner-img" style="background: url({{ banner.image.url }}); ">
        <div class="al-bn-txt">
            <span class="wpag">Terms and Condition</span>
        </div>
    </div>
    {% else %}
    <div class="allbanner-img" style="background: url({% static 'images/allban.jpg' %}); ">
        <div class="al-bn-txt">
            <span class="wpag">Terms and Condition</span>
        </div>
    </div>
    {% endif %}
</section>


<section class="book-ta p35">
    <div class="container">
        {{ terms.content|safe }}
        <a href="" class="rm-btn bg-gr">Download PDF </a>

    </div>
</section>

{% endblock %}